<div class="container mt-5">
    <h1>Lista de Pessoas</h1>
    <button class="btn btn-primary mb-3" (click)="router.navigate(['/persons/create'])">Novo Contato</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{ person.name }}</td>
          <td>
            <button class="btn btn-primary me-2" (click)="editPerson(person.id)">Editar</button>
            <button class="btn btn-danger" (click)="deletePerson(person.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  